@using TP_DDS_MVC.Models.Proyectos
@model ProyectoFinanciamiento

@{
    ViewBag.Title = "DetalleProyectos";
}


<div class="pb-3">
    <h2>Proyecto de Financiamiento</h2>
</div>
<div class="form-row mb-3">
    <div class="form-group col-md-4">
        <label for="propuesta">Propuesta</label>
        <input class="form-control" id="propuesta2" value="@Model.propuesta" type="text" disabled>
    </div>
    <div class="form-group col-md-4">
        <label for="cantPresupuestos">Cantidad de Presupuestos exigibles (validador)</label>
        <input class="form-control" id="cantidadPresupuestos" value="@Model.cantidadPresupuestos" type="text" disabled>
    </div>
    <div class="form-group col-md-4">
        <label for="limiteErogacion">Ingrese el monto límite de erogación</label>
        <input class="form-control" id="limiteErogacion2" value="@Model.limiteErogacion" type="text" disabled>
    </div>
</div>
<div class="form-row mb-2">
    <div class="form-group col-md-4">
        <label for="fechaCierre">Ingrese la fecha de cierre</label>
        <input class="form-control" id="fechaCierre2" value="@Model.fechaCierre" type="text" disabled>
    </div>
    <div class="form-group col-md-4">
        <label for="fechaEjecucion">Ingrese la fecha de ejecución</label>
        <input class="form-control" id="fechaEjecucion2" value="@Model.fechaEjecucion" type="text" disabled>
    </div>
</div>

<div class="form-row mb-5">

    @Html.ActionLink("Asociar Ingreso", "AsociarIngreso", "ProyectoFinanciamiento", new { idProyecto = Model.idProyecto }, new { @class = "btn btn-primary btn-md mr-4 col-2" })
    @Html.ActionLink("Asociar Egreso", "AsociarEgreso", "ProyectoFinanciamiento", new { idProyecto = Model.idProyecto }, new { @class = "btn btn-primary btn-md col-2" })

</div>
<div class="form-row mb-3">

    @Html.ActionLink("Volver", "ListProyectos", "ProyectoFinanciamiento", new { @class = "btn btn-secondary btn-md mr-4 col-2" })

</div>

