@using TP_DDS_MVC.Models.Proyectos;
@model List<ProyectoFinanciamiento>
@{
    ViewBag.Title = "ListProyectos";
}

<div class="alert alert-secondary my-4" role="alert">
    <h2>Listado de Proyectos</h2>
</div>

<div class="container-fluid">
    @if (Model.Count != 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Propuesta</th>
                    <th scope="col">Fecha de Ejecución</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (ProyectoFinanciamiento proyecto in (List<ProyectoFinanciamiento>)Model)
                {
                <tr>
                    <th scope="row">@proyecto.idProyecto</th>
                    <td>@proyecto.propuesta</td>
                    <td>@proyecto.fechaEjecucion</td>
                    <td>@Html.ActionLink("Detalle", "DetalleProyectos", "ProyectoFinanciamiento", new { id = proyecto.idProyecto }, new { @class = "btn btn-secondary btn-sm" })</td>
                    <td>@Html.ActionLink("Eliminar", "DeleteProyecto", "ProyectoFinanciamiento", new { id = proyecto.idProyecto }, new { @class = "btn btn-danger btn-sm" })</td>
                </tr>
                }
            </tbody>
        </table>
     }
    else
    {
        <p class="lead"> No hay proyectos de financiamento cargados.</p>
    }
</div>
