@using TP_DDS_MVC.Models.Otros;

@{ 
    Usuario user = (Usuario)Session["usuario"];
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">GESOC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="/compra" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compras</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/compra/egreso/add">Egresos</a>
                        <a class="dropdown-item" href="#">Presupuestos</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ingresos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Proyectos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mi Entidad</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mi Perfil</a>
                </li>
                @if (user.esAdmin)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/admin">Panel de administrador</a>

                    </li>
                }
               
            </ul>
        </div>
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GESOC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
