@using TP_DDS_MVC.Models.Entidades
@model EntidadJuridica

<h2>Ver Entidad</h2>

<div class="mb-3">
    <h2>Ver Entidad Juridica</h2>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="nombreFicticio">Nombre ficticio</label>
        <input id="nombreFicticio" value="@Model.nombreFicticio" class="form-control" type="text" placeholder="Nombre ficticio" disabled>
    </div>
    <div class="form-group col-md-6">
        <label for="razonSocial">Razon Social</label>
        <input id="razonSocial" value="@Model.razonSocial" class="form-control" type="text" placeholder="Razon Social" disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="CUIT">CUIT</label>
        <input id="CUIT" value="@Model.CUIT" class="form-control" type="text" placeholder="CUIT" disabled>
    </div>
    <div class="form-group col-md-6">
        <label for="codIGJ">Codigo de inscripcion definitiva (IGJ)</label>
        <input id="codIGJ" value="@Model.codInscripDefinitiva" class="form-control" type="text" placeholder="Codigo IGJ" disabled>
    </div>
</div>

<h4>Direccion Postal</h4>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="calle">Calle</label>
        <input type="text" value="@Model.direccionPostal.calle" class="form-control" id="calle" disabled>
    </div>
    <div class="form-group col-md-4">
        <label for="numero">Numero</label>
        <input type="text" value="@Model.direccionPostal.numero" class="form-control" id="numero" disabled>
    </div>
    <div class="form-group col-md-4">
        <label for="pisoDepto">Piso/Depto</label>
        <input type="text" value="@Model.direccionPostal.piso_depto" class="form-control" id="pisoDepto" disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-4">
        <label for="pais">Pais</label>
        <input type="text" value="@Model.direccionPostal.pais" class="form-control" id="pais" disabled>

    </div>
    <div class="form-group col-4">
        <label for="provincia">Provincia</label>
        <input type="text" value="@Model.direccionPostal.provincia" class="form-control" id="provincia" disabled>

    </div>
    <div class="form-group col-4">
        <label for="ciudad">Ciudad</label>
        <input type="text" value="@Model.direccionPostal.ciudad" class="form-control" id="ciudad" disabled>

    </div>
</div>

<span>
    @Html.ActionLink("Volver", "Index", "Home", new { @class = "btn btn-secondary col-lg-1" })
</span>


