@using TP_DDS_MVC.Models.Otros
@{
    ViewBag.Title = "Cargar Entidad";

    @section scripts {
        <script type="text/javascript" src="~/Scripts/MyScripts/agregarEntidadJuridica.js"></script>
    }

}
<script>
  var cargarBase = @(ViewBag.cargarBase);
</script>



<div class="mb-3">
    <h2>Cargar Entidad Juridica</h2>
</div>
<div id="error" class="alert alert-danger mb-3" role="alert">
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="nombreFicticio">Nombre ficticio</label>
        <input id="nombreFicticio" class="form-control" type="text" placeholder="Nombre ficticio">
    </div>
    <div class="form-group col-md-6">
        <label for="razonSocial">Razon Social</label>
        <input id="razonSocial" class="form-control" type="text" placeholder="Razon Social">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="CUIT">CUIT</label>
        <input id="CUIT" class="form-control" type="text" placeholder="CUIT">
    </div>
    <div class="form-group col-md-6">
        <label for="codIGJ">Codigo de inscripcion definitiva (IGJ)</label>
        <input id="codIGJ" class="form-control" type="text" placeholder="Codigo IGJ">
    </div>
</div>

<h4>Direccion Postal</h4>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="calle">Calle</label>
        <input type="text" class="form-control" id="calle">
    </div>
    <div class="form-group col-md-4">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero">
    </div>
    <div class="form-group col-md-4">
        <label for="pisoDepto">Piso/Depto</label>
        <input type="text" class="form-control" id="pisoDepto">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-4">
        <label for="pais">Pais</label>
        <input class="form-control" list="paises" id="pais" type="text" placeholder="Seleccionar...">
        <datalist id="paises">
            @foreach (Pais pais in (List<Pais>)ViewBag.paises)
            {
                <option value="@pais.nombre">@pais.nombre</option>
            }
        </datalist>
    </div>
    <div class="form-group col-4">
        <label for="provincia">Provincia</label>
        <input class="form-control" list="provincias" id="provincia" type="text" placeholder="Seleccionar...">
        <datalist id="provincias">
            @foreach (Provincia prov in (List<Provincia>)ViewBag.provincias)
            {
                <option value="@prov.nombre">@prov.nombre</option>
            }
        </datalist>
    </div>
    <div class="form-group col-4">
        <label for="ciudad">Ciudad</label>
        <input class="form-control" list="ciudades" id="ciudad" type="text" placeholder="Seleccionar...">
        <datalist id="ciudades">
            @foreach (Ciudad ciudad in (List<Ciudad>)ViewBag.ciudades)
            {
                <option value="@ciudad.nombre">@ciudad.nombre</option>
            }
        </datalist>
    </div>
</div>

<div class="form-group">
    <label for="tipoOrg">Tipo de Organizacion</label>
    <select id="tipoOrg" class="form-control">
        <option value="Empresa">Empresa</option>
        <option value="OSC">OSC</option>
    </select>
</div>
<div class="form-group">
    <label for="actividad">Actividad</label>
    <input id="actividad" class="form-control" type="text" placeholder="Actividad">
</div>
<div id="formEmpresa" class="form-row">
    <div class="form-group col-md-6">
        <label for="sector">Sector</label>
        <select id="sector" class="form-control">
            <option value="Construccion">Construccion</option>
            <option value="Servicios">Servicios</option>
            <option value="Comercio">Comercio</option>
            <option value="IndYMin">Industria y Mineria</option>
            <option value="Agropecuario">Agropecuario</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="promVentas">Promedio de ventas</label>
        <input id="promVentas" type="number" class="form-control" placeholder="1" step="0.01" min="1">
    </div>
    <div class="form-group col-md-2">
        <label for="cantPersonal">Cantidad de personal</label>
        <input id="cantPersonal" type="number" class="form-control" placeholder="1" min="1">
    </div>
</div>
<span>
    <button class="btn btn-success col-lg-2" id="submit">Crear</button>
    @Html.ActionLink("Cancelar", "Entidad", "MenuCargarEntidad", new { @class = "btn btn-secondary col-lg-1" })
</span>

