@using TP_DDS_MVC.Models.Compras
@model TP_DDS_MVC.Helpers.JsonEgreso
@{
    @section scripts {
        <script type="text/javascript" src="~/Scripts/MyScripts/agregarEgreso.js"></script>
    }
    ViewBag.Title = "Agregar Egreso";

    var documentos = ViewBag.docsComerciales;
    var proveedores = ViewBag.proveedores;
    var mediosDePago = ViewBag.mediosDePago;
}


<div class="mb-4">
    <h2>Crear un Egreso</h2>
</div>
@if (ViewBag.errorMsg != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @ViewBag.errorMsg
    </div>
}
<div class="ml-4">
    <div class="form-group mb-3">
        <label for="fecha">Fecha del egreso:</label>
        <input class="form-control" id="fecha" type="date">
    </div>
    <div class="form-row mb-3">
        <div class="form-group col mr-5">
            <label for="proveedores">Seleccione un proveedor:</label>
            <input class="form-control" list="proveedores" id="proveedor" type="text" placeholder="Seleccionar...">
            <datalist id="proveedores">
                @foreach (PrestadorDeServicios PDS in (List<PrestadorDeServicios>)proveedores)
                {
                    <option value="@PDS.idPrestador">@PDS.razonSocial</option>
                }
            </datalist>
        </div>
        <div class="form-group col">
            <label for="mediosDePago">Seleccione un Medio de Pago:</label>
            <input class="form-control" list="mediosDePago" id="medioDePago" type="text" placeholder="Seleccionar...">
            <datalist id="mediosDePago">
                @foreach (MedioDePago MDP in (List<MedioDePago>)mediosDePago)
                {
                    <option value="@MDP.idMedioPago">@MDP.instrumento</option>
                }
            </datalist>
        </div>
    </div>

    <div class="mb-3">
        <h4>Agregar documentos</h4>
        <div class="form-group">
            <label for="documentos">Seleccione un Documento Comercial:</label>
            <input class="form-control" list="documentos" id="documento" type="text" placeholder="Seleccionar...">
            <datalist id="documentos">
                @foreach (DocumentoComercial DC in (List<DocumentoComercial>)documentos)
                {
                    <option value="@DC.nroIdentificacion">@DC.tipo</option>
                }
            </datalist>
        </div>
        <button class="btn btn-primary btn-sm mb-1" id="agregarDoc">Agregar</button>
        <br />
        <br />
        <h5>Lista de documentos</h5>
        <div class="col-6">
            <label id="noDocs">No hay documentos agregados</label>
            <ul class="list-group list-group-flush pb-5" id="listaDocs">
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <h4>Agregar items</h4>
        <div class="form-row">
            <div class="form-group col-4">
                <label for="descripcionItem">Descripcion</label>
                <input type="text" class="form-control" id="descripcionItem" placeholder="Descripcion" />
            </div>
            <div class="form-group col-1">
                <label for="valorItem">Valor </label>
                <input type="number" class="form-control" id="valorItem" placeholder="1" step="0.01" min="1" />
            </div>
            <div class="form-group col-1">
                <label for="cantItem">Cantidad</label>
                <input type="number" class="form-control" id="cantItem" placeholder="1" min="1" />
            </div>
        </div>
        <button class="btn btn-primary btn-sm mb-1" id="agregarItem">Agregar</button>
        <br />
        <br />
        <h5>Lista de Items</h5>
        <div class="col-4">
            <label id="noItems">No hay items agregados</label>
            <ul class="list-group list-group-flush pb-5" id="listaItems">
            </ul>
        </div>
    </div>
    <span>
        <button class="btn btn-success col-lg-2" id="submit">Cargar</button>
        @Html.ActionLink("Cancelar", "Index", new { controller = "Compra" }, new { @class = "btn btn-secondary col-lg-1" })
    </span>
</div>

