@using TP_DDS_MVC.Models.Compras;
@using TP_DDS_MVC.Models.Otros;
@model Compra
@{
    @section scripts {
        <script type="text/javascript" src="~/Scripts/MyScripts/mostrarPorCriterios.js"></script>
    }
    ViewBag.Title = "Detalle Compra";
}

<div class="mb-3">
    <h2>Detalle Compra</h2>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" class="form-control" type="text" value="@Model.descripcion" disabled>
    </div>
    <div class="form-group col-md-6">
        <label for="cantMinPres">Cantidad minima de presupuestos</label>
        <input id="cantMinPres" class="form-control" type="text" value="@Model.cantMinimaPresupuestos" disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <div class="form-group">
            <label for="revisor">Revisores</label>
            <ul class="list-group list-group-flush pb-2" id="listaRevisores">
                @foreach (Usuario user in (List<Usuario>)Model.revisores)
                {
                    <li class="list-group-item">"@user.nombreUsuario" </li>
                }
            </ul>

        </div>
    </div>
</div>

<div class="mb-2">
</div>
<div class="ml-4">
    <div class="form-group mb-3">
        <label for="fecha">Fecha del egreso:</label>
        <input id="fecha" class="form-control" type="text" value=@Model.egreso.fechaEgreso disabled>
    </div>
    <div class="form-row mb-2">
        <div class="form-group col mr-5">
            <label for="proveedores">Prestador de servicios:</label>
            <input id="proveedores" class="form-control" type="text" value="@Model.egreso.prestadorDeServicios.razonSocial" disabled>
        </div>
        <div class="form-group col">
            <label for="mediosDePago">Medios de pago:</label>
            <input id="revisores" class="form-control" type="text" value="@Model.egreso.medioDePago.instrumento" disabled>
        </div>
    </div>

    <div class="mb-2 mt-2">
        <label for="categoria">Ver por categoría</label>
        <input list="categorias" class="form-control" id="categoria" name="categorias" placeholder="Seleccionar..." type="text">
        <datalist id="categorias">
            @foreach (Categoria cat in (List<Categoria>)ViewBag.categorias)
            {
                <option value="@cat.nombre">@cat.criterio.nombre</option>
            }
        </datalist>
    </div>
    <div class="mb-2">
        <div class="form-row">
            <div class="form-group col-4">
                <label for="items">Items</label>
                <ul class="list-group list-group-flush pb-2" id="listaItems">
                    @foreach (Item i in Model.egreso.detalle)
                    {
                        <li class="list-group-item">@i.descripcion&nbsp;-&nbsp;$@i.valor c/u&nbsp;-&nbsp;@i.cant unidades&nbsp;-&nbsp;@i.categoriasString()</li>
                    }
                </ul>
            </div>
            <br />
            <ul class="list-group list-group-flush pb-2" id="listaItems">
            </ul>
        </div>
    </div>
    <br />
    <div class="form-group row">
        @Html.ActionLink("Volver", "ListCompras", new { controller = "Compra" }, new { @class = "btn btn-secondary col-2" })
    </div>
</div>
