@using TP_DDS_MVC.Models.Otros;
@model TP_DDS_MVC.Models.Compras.PrestadorDeServicios
@{
    ViewBag.Title = "Agregar Prestador De Servicios";
    var tiposDoc = new List<SelectListItem> {
        new SelectListItem() { Value = "DNI", Text = "DNI"},
        new SelectListItem() { Value = "CUIT", Text = "CUIT"},
        new SelectListItem() { Value = "CUIL", Text = "CUIL"}
    };
    var paises = ViewBag.paises;
    var provincias = ViewBag.provincias;
    var ciudades = ViewBag.ciudades;

}


<div class="mb-4">
    <h2>Editar Prestador de Servicios</h2>
</div>
@if (ViewBag.errorMsg != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @ViewBag.errorMsg
    </div>
}
@using (Html.BeginForm("EditPrestadorDeServicios", "Compra", FormMethod.Post))
{
    @Html.HiddenFor(m => m.idEntidad)
    @Html.HiddenFor(m => m.idDireccionPostal)
    @Html.HiddenFor(m => m.direccionPostal.idDireccionPostal)
    @Html.HiddenFor(m => m.idPrestador)
    <div class="form-row mb-3">
        <label for="razonSocial">Nombre o Razon Social</label>
        <div class="col-10">
            @Html.TextBoxFor(m => m.razonSocial, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="form-group col">
            <label for="tipoDoc">Tipo de documento</label>
            @Html.DropDownListFor(m => m.tipoDoc, tiposDoc, new { @class = "form-control" })
        </div>
        <div class="form-group col">
            <label for="numDoc">Numero de documento</label>
            @Html.TextBoxFor(m => m.numDoc, new { @class = "form-control" })
        </div>
    </div>
    <h4>Direccion Postal</h4>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="pais">País</label>
            @Html.DropDownListFor(m => m.direccionPostal.pais, new SelectList(paises, "nombre", "nombre"), new { @class = "form-control" })

        </div>
        <div class="form-group col-4">
            <label for="provincia">Provincia</label>
            @Html.DropDownListFor(m => m.direccionPostal.provincia, new SelectList(provincias, "nombre", "nombre"), new { @class = "form-control" })
        </div>
        <div class="form-group col-4">
            <label for="ciudad">Ciudad</label>
            @Html.DropDownListFor(m => m.direccionPostal.ciudad, new SelectList(ciudades, "nombre", "nombre"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-1">
            <label for="pisodepto">Piso/Depto</label>
            @Html.TextBoxFor(m => m.direccionPostal.piso_depto, new { @class = "form-control" })
        </div>
        <div class="form-group col-3">
            <label for="calle">Calle</label>
            @Html.TextBoxFor(m => m.direccionPostal.calle, new { @class = "form-control" })
        </div>
        <div class="form-group col-3">
            <label for="Numero">Número</label>
            @Html.TextBoxFor(m => m.direccionPostal.numero, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-10">
            <input class="btn btn-success" type="submit" value="Guardar" />
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Cancelar", "ListPrestadorDeServicios", new { controller = "Compra" }, new { @class = "btn btn-secondary" })
        </div>
    </div>

}

