@using TP_DDS_MVC.Models.Compras;
@using TP_DDS_MVC.Models.Otros;
@model Compra
@{
    ViewBag.Title = "Editar Compra";
}


<div class="mb-3">
    <h2>Editar Compra</h2>
</div>
@if (ViewBag.errorMsg != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @ViewBag.errorMsg
    </div>
}

@using (Html.BeginForm("EditCompra", "Compra", FormMethod.Post))
{
    @Html.HiddenFor(m => m.idEntidad)
    @Html.HiddenFor(m => m.idEgreso)
    @Html.HiddenFor(m => m.idCompra)
    @Html.HiddenFor(m => m.idProyecto)
    @Html.HiddenFor(m => m.egreso.montoTotal)
    @Html.HiddenFor(m => m.egreso.detalle)
    @Html.HiddenFor(m => m.egreso.idEgreso)
    @Html.HiddenFor(m => m.egreso.idEntidad)
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="descripcion">Descripcion</label>
            @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="cantMinPres">Cantidad minima de presupuestos</label>
            @Html.TextBoxFor(m => m.cantMinimaPresupuestos, new { @class = "form-control" })
        </div>
    </div>


    <div class="mb-4">
        <h3>Editar Egreso</h3>
    </div>
    <div class="ml-4">
        <div class="form-group mb-3">
            <label for="fecha">Fecha del egreso:</label>
            @Html.TextBoxFor(m => m.egreso.fechaEgreso, new { @class = "form-control" })
        </div>
        <div class="form-row mb-3">
            <div class="form-group col mr-5">
                <label for="proveedores">Seleccione un proveedor:</label>
                @Html.DropDownListFor(m => m.egreso.idPrestadorDeServicios, new SelectList(ViewBag.proveedores, "idPrestador", "razonSocial"), new { @class = "form-control" })
            </div>
            <div class="form-group col">
                <label for="mediosDePago">Seleccione un Medio de Pago:</label>
                @Html.DropDownListFor(m => m.egreso.idMedioDePago, new SelectList(ViewBag.mediosDePago, "idMedioPago", "instrumento"), new { @class = "form-control" })
            </div>
        </div>


        <div class="mb-3">
            <!-- <div class="form-row">
                <div class="form-group col-4">
                    <label for="descripcionItem">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionItem" placeholder="Descripcion" />
                </div>
                <div class="form-group col-1">
                    <label for="valorItem">Valor </label>
                    <input type="number" class="form-control" id="valorItem" placeholder="1" step="0.01" min="1" />
                </div>
                <div class="form-group col-1">
                    <label for="cantItem">Cantidad</label>
                    <input type="number" class="form-control" id="cantItem" placeholder="1" min="1" />
                </div>
            </div>
            <button class="btn btn-primary btn-sm mb-1" id="agregarItem">Agregar</button>
            <br />
            <br /> -->
            <h5>Lista de Items</h5>
            <div class="col-4">
                <ul class="list-group list-group-flush pb-5" id="listaItems">
                    @foreach (Item i in ViewBag.items)
                    {
                        <li class="list-group-item">@i.descripcion&nbsp;-&nbsp;$@i.valor c/u&nbsp;-&nbsp;@i.cant unidades&nbsp;-&nbsp;@i.categoriasString()</li>
                    }
                </ul>
            </div>
        </div>
        <span>
            <button class="btn btn-success col-lg-2" id="submit">Aceptar</button>
            @Html.ActionLink("Cancelar", "Index", new { controller = "Compra" }, new { @class = "btn btn-secondary col-lg-1" })
        </span>
    </div>
}