@using TP_DDS_MVC.Models.Compras;
@model List<Compra>
@{
    ViewBag.Title = "ListCompras";
}


<div class="alert alert-secondary my-4" role="alert">
    <h2>Listado de compras</h2>
</div>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Compra compra in Model)
            {
            <tr>
                <th scope="row">@compra.idCompra</th>
                <td>@compra.descripcion</td>
                <td>@compra.egreso.montoTotal</td>
                <td>@Html.ActionLink("Detalle", "DetalleCompra", "Compra", new { idCompra = compra.idCompra }, new { @class = "btn btn-info btn-sm" })</td>
                <td>@Html.ActionLink("Editar", "EditCompra", "Compra", new { idCompra = compra.idCompra }, new { @class = "btn btn-secondary btn-sm" })</td>
            </tr>
            }
        </tbody>
    </table>
</div>

