@using TP_DDS_MVC.Models.Compras;
@model List<Compra>
@{
    ViewBag.Title = "ListCompras";
}


<div class="alert alert-secondary my-4" role="alert">
    <h2>Listado de compras</h2>
</div>

<div class="container-fluid">
    @if (Model == null || Model.Count == 0)
    {
        <p class="ml-2 lead">No hay Compras cargadas</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Total egreso</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Compra compra in Model)
                {
                    <tr>
                        <th scope="row">@compra.idCompra</th>
                        <td>@compra.descripcion</td>
                        <td>$@compra.egreso.montoTotal</td>

                        <td><input type="button" class="btn btn-info btn-sm" value="Detalle" onclick="window.open('@Url.Action("DetalleCompra", "Compra", new { id = compra.idCompra })')" /></td>
                        <td>@Html.ActionLink("Editar", "EditCompra", "Compra", new { id = compra.idCompra }, new { @class = "btn btn-secondary btn-sm" })</td>
                        <td>@Html.ActionLink("Eliminar", "DeleteCompra", "Compra", new { id = compra.idCompra }, new { @class = "btn btn-danger btn-sm" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

