@using TP_DDS_MVC.Models.Compras;
@model List<Presupuesto>
@{
    ViewBag.Title = "Listado Presupuestos";
}


<div class="alert alert-secondary my-4" role="alert">
    <h2>Listado de Presupuestos</h2>
</div>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nro Identificacion</th>
                <th scope="col">Cant Items</th>
                <th scope="col">Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Presupuesto pres in Model)
            {
                <tr>
                    <th scope="row">@pres.idDocComercial</th>
                    <td>@pres.nroIdentificacion</td>
                    <td>@pres.montoTotal</td>
                    <td>@Html.ActionLink("Detalle", "DetallePresupuesto", "Compra", new { idDoc = pres.idDocComercial }, new { @class = "btn btn-info btn-sm" })</td>
                    <td>@Html.ActionLink("Editar", "EditPresupuesto", "Compra", new { idDoc = pres.idDocComercial }, new { @class = "btn btn-secondary btn-sm" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

